#root{
  min-height: 100vh;
}
main{
  min-height: 85vh;
}
.footer{
  background-color: #adb5bd;
  width: 100%;
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a{
  text-decoration: none;
  color:#222222;
}
