#root{
  min-height: 100vh;
}
main{
  min-height: 85vh;
}
.footer{
  background-color: #adb5bd;
  width: 100%;
  min-height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a{
  text-decoration: none;
  color:#222222;
}
table{
  overflow-x:auto;
}
.playerTable{
  overflow-x:auto;
}
.draftTable tr{
  cursor: pointer;
}
.draftTable tbody tr.active{
  background-color: rgba(2, 53, 1, 0.781);
}
ul{
  overflow-x: auto;
  list-style-type: none;
}
th{
  cursor: pointer;
}
.weeklyPerformance{
  overflow-x: auto;
}
.overflowx{
  overflow-x: auto;
}
